#header{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:200px; 
    
}


#fondecran {
 background:url(vayne.jpeg);
 font-family: "lol";
 display:flex;
 justify-content: center;
 flex-direction: column;
 background-attachment: fixed;
}
#icone{
    width:100px;
    height:100px;
    margin-left:100px;
    margin-top:50px;
    
}

.inscrit
{
	margin-top: 100px;
    margin-right: 100px;
	text-align:center;
	vertical-align:middle;
	line-height: 60px;
	background-color: rgba(0,0,0, .1);
	height:60px;
	width:150px;
	border-radius: 10px;
	display:flex;
}

.inscrit:hover{
	background-color: rgba(0,0,0, .50);
	height:60px;
	text-align:left;
	vertical-align:middle;
	line-height: 60px;
	border-radius: 5px;
}

.inscrit1
{
	margin-top: 100px;
    margin-left: 900px;
	text-align:center;
	vertical-align:middle;
	line-height: 60px;
	background-color: rgba(0,0,0, .1);
	height:60px;
	width:150px;
	border-radius: 10px;	
}

.inscrit1:hover{
	background-color: rgba(0,0,0, .50);
	height:60px;
	text-align:center;
	vertical-align:middle;
	line-height: 60px;
	border-radius: 5px;
}
#texte{
    font-family: "lol";
    color: white;
    text-decoration: none;
    font-weight: 700;
}
#inscription{
    margin-left: 30px;
    color:white;
    text-decoration: none;
    font-weight: 700;
}
#porte{
    width: 10px;
    height: 10px
       
}

#texte:hover{
    color:grey;
}
#inscription:hover{
    color:grey;
}
.nav{
    display: flex;
    justify-content: center;
    
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:75%;    
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background:rgba(0,0,0,0.4);
}

li {
    float: left;
    padding: 14px 16px;
}

li a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: rgba(0,0,0,0.4);
	border-radius: 5px;
}

#imageacceuil{
    margin-left:15px;
    color: white;
    width:20px;
    height: 20px;
}

.post{
    display:flex;
    justify-content: center;
    background:#FEFEFE;
    width: 75%;
    height: 1900px;
    margin-left:12.5%;
    
        
       
}
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}

@font-face {
 font-family: "lol";
 src: url("fonte/regular.ttf");
        
}
@font-face {
 font-family: "lolbold";
 src: url("fonte/regular.ttf");
        
}

#bienvenue{
    border: 1px solid #d9d9d9;    
    text-align: center;
    border-color: rgba(0,0,0,0.15);
    height: 10%;
    width: 95%;
    border-radius: 4px;
    background:#f6f6f6;
    margin-top:15px;
    padding: 40px 20px;
    font-size:14px;}

.btn-grad {background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)}
.btn-grad {
margin: 10px;
padding: 15px 45px;
text-align: center;
    background: #090a0a;
    border-color: transparent;
    color: #f6f6f6;
}
          }

 .btn-grad:hover {
background-position: right center; /* change the direction of the change here */
color: #090a0a;
 text-decoration: none;
          }